#loadingScreen {
    position: fixed;
    inset: 0;
    background-color: #ffffff; /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  .loading-icon {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }